<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--Добавить CSS-->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!--добавить JS-->
    {% block extrahead %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock extrahead %}
    <title>Редактировать запись</title>
</head>
<body>
<div class="container">
    <p>Изменение пользователя {{ person.fio }} c id={{ person.id }}</p>
 <div class=row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <form method="POST">
        {% csrf_token %}
        <table>
        {{ userform.as_p }}
        </table>

        <br>
        <button id="save" style="font-family: Arial" class="btn"
                type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ></span> Сохранить</button>
    </form>
</div>
 </div>
</body>
</html>